<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637922100776-c3jli6h0jbhhjr3l5h84ddg2q4vtmntc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637922100776-c3jli6h0jbhhjr3l5h84ddg2q4vtmntc</string>
	<key>API_KEY</key>
	<string>AIzaSyDBUlxahLm9joeROGuWnEHaJS158NjUV9g</string>
	<key>GCM_SENDER_ID</key>
	<string>637922100776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dvil.mobile.flutter.redeap.redeap</string>
	<key>PROJECT_ID</key>
	<string>redeap-ace2f</string>
	<key>STORAGE_BUCKET</key>
	<string>redeap-ace2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637922100776:ios:c2559fb032cb6c8186571d</string>
	<key>DATABASE_URL</key>
	<string>https://redeap-ace2f.firebaseio.com</string>
</dict>
</plist>